*./bin
bin/Main.class

.gitignore
bin/chats/Chat.class
bin/chats/ChatGroup.class
bin/connection/ClientChannel.class
bin/connection/ConStatusCodes.class
bin/controller/Enviroment.class
bin/controller/Message.class
bin/controller/package-info.class
bin/controller/Server.class
bin/controller/Request.class
.classpath
.proyect
